<nav class="flex items-center bg-blue-300 p-3">
  <div class="flex items-center text-white">
    <span class="font-semibold text-xl tracking-tight p-2">
      {{ dateTime.toFormat("yyyy年MM月") }}
    </span>

    <button
      class="
        inline-flex
        items-center
        justify-center
        w-10
        h-10
        text-white
        transition-colors
        duration-150
        bg-transparent
        rounded-full
        focus:shadow-outline
        hover:bg-gray-300
        p-2
      "
      (click)="prevMonth()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        />
      </svg>
    </button>

    <button
      class="
        inline-flex
        items-center
        justify-center
        w-10
        h-10
        text-white
        transition-colors
        duration-150
        bg-transparent
        rounded-full
        focus:shadow-outline
        hover:bg-gray-300
        p-2
      "
      (click)="nextMonth()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        />
      </svg>
    </button>
  </div>
</nav>

<app-calendar [dateTime]="dateTime"></app-calendar>
